/* Add your styles here */
textarea {
  width: 100%;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background: linear-gradient(to right, gray, #363636);
  color: whitesmoke;
  outline: none;
  resize: none;
  border: none;
  padding: 3px;
  display: none;
}

body {
  overflow: scroll;
}

.hide {
  visibility: hidden;
}

rect {
  /* fill: transparent; */
  stroke: gray;
  stroke-width: 2;
}

path {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
}

text {
  text-anchor: middle;
  fill: #363636;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
}
